# MariaDB Server configuration
#

[mariadb]
socket	= {{ mariadb_socket }}
port	= {{ mariadb_port }}
skip_name_resolve	= {{ mariadb_skip_name_resolve }}

default_storage_engine	= InnoDB

character_set_server	= utf8
collation_server	= utf8_general_ci
 
user=mysql

[mysqld]
bind_address={{ mariadb_bind_address }}
symbolic-links=0

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
